<div class="form-container1">
<form class="customer-card" [formGroup]="defineLoyalityProgramForm" (ngSubmit)="defineLoyalityProgram()">
    <h2>✴ LOYALITY PROGRAM ✴</h2>
                <div class="row-container">
                    <mat-form-field>
                        <mat-label>Name category</mat-label>
                        <input class="widthInput" matInput formControlName="nameCategory" type="text" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Required points:</mat-label>
                        <input matInput formControlName="requiredPoints" type="number" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Discount:</mat-label>
                        <input matInput formControlName="discount" type="number" />
                    </mat-form-field>
                 </div>
        <button color="primary" type="submit" mat-raised-button>Define</button>
</form>
</div>