form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    align-items: center; /* Postavlja vertikalno centriranje */
    height: 100%; /* Popunjava celu visinu ekrana */
  }
  
  div {
    width: 700px;
    display: flex;
    flex-direction: column;
  }
  
  .mat-form-field {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  button {
    margin-top: 20px;
  }
  
  .row-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  
  .one-item-container {
    margin-right: 20px; /* dodajte željeni razmak između elemenata */
    margin-bottom: 15px;
    flex: 1;
  }
  
  button {
    margin-top: 20px;
    transition: background-color 0.3s ease; /* Dodaje glatki prelaz za boju pozadine */
  }
  
  button:hover {
    background-color: #4169e1; /* Boja koja će se prikazati kada korisnik pređe mišem */
    color: white; /* Opciono, možete postaviti i boju teksta na belu ili drugu vidljivu boju */
  }
  