<div *ngIf="admin" class="admin-card">
    <img src="../../../../assets/user.png" height="100px" alt="user info"/>
    <div class="admin-info">
        <div class="info-item">
            <strong>First Name:</strong> <span>{{ admin.firstName }}</span>
        </div>
        <div class="info-item">
            <strong>Last Name:</strong> <span>{{ admin.lastName }}</span>
        </div>
        <div class="info-item">
            <strong>Email:</strong> <span>{{ admin.email }}</span>
        </div>
        <div class="info-item">
            <strong>Country:</strong> <span>{{ admin.country }}</span>
        </div>
        <div class="info-item">
            <strong>City:</strong> <span>{{ admin.city }}</span>
        </div>
        <div class="info-item">
            <strong>Number:</strong> <span>{{ admin.number }}</span>
        </div>
        <div class="info-item">
            <strong>Company:</strong> <span>{{ company.name }}</span>
        </div>
    </div>
    <mat-icon class="edit" (click)="editProfile()">edit</mat-icon>
</div>
