<mat-toolbar class="mat">
  <div>
    <p class="title">Healthcare Intelligence ⚕</p>
    <div id="buttons">
      <button
        *ngIf="user && user.username === ''"
        color="accent"
        mat-raised-button
        [routerLink]="['login']"
      >
        Login
      </button>
      <button
        *ngIf="user && user.username !== ''"
        color="accent"
        mat-raised-button
        (click)="onLogout()"
      >
        Logout
      </button>
      <button color="primary" *ngIf="customer || systemAdmin" mat-raised-button [routerLink]="['']">
        Home
      </button>
      <button color="primary" *ngIf="companyAdmin" mat-raised-button [routerLink]="['companyAdminHome']">
        Home
      </button>
      <button mat-raised-button *ngIf="customer" [routerLink]="['customerProfile']">
        Customer Profile
      </button>
      <button mat-raised-button *ngIf="systemAdmin" [routerLink]="['userProfile']">
        System Admin Profile
      </button>

      <button mat-raised-button *ngIf="systemAdmin" [routerLink]="['registerCompanyAdmin']">
        Register Company Admin
      </button>

      <button mat-raised-button *ngIf="systemAdmin" [routerLink]="['defineLoyalityProgram']">
        Define Loyality program
      </button>

      <button mat-raised-button *ngIf="companyAdmin" [routerLink]="['adminProfile']">
        Company Admin Profile
      </button>
    </div>
  </div>
</mat-toolbar>
