<div>
    <div>
        <strong>First Name:</strong> {{ customer.firstName }}
    </div>
    <div>
        <strong>Last Name:</strong> {{ customer.lastName }}
    </div>
    <div>
        <strong>Email:</strong> {{ customer.email }}
    </div>
    <div>
        <strong>Country:</strong> {{ customer.country }}
    </div>
    <div>
        <strong>City:</strong> {{ customer.city }}
    </div>
    <div>
        <strong>Number:</strong> {{ customer.number }}
    </div>
    <div>
        <strong>Occupation:</strong> {{ customer.occupation }}
    </div>
    <div>
        <strong>Company Info:</strong> {{ customer.companyInfo }}
    </div>
</div>