<div class="form-container1">
<div  *ngIf="company">
    <h1>{{ company.name}} Admin Home Page</h1>
      <div class="company-info-container">
        <xp-company-info [company]="company" class="company-info"></xp-company-info>
        <div class="map-frame">
          <div id="leafletMap" class="map-wrap"></div>
        </div>
        <div class="buttonsMenu">
          <button class="oneButton" mat-icon-button color="primary" (click)="toggleEquipmentComponent()">
            <mat-icon>{{ shouldShowEquipmentComponent ? 'exit_to_app' : 'note_add' }}</mat-icon>
          </button>
          <button class="oneButton" (click)="toggleAdminsVisibility()">
            <mat-icon>{{ shouldShowDatesComponent ?  'exit_to_app' : 'calendar_today' }}</mat-icon>
          </button>
          <button class="oneButton" (click)="toggleReservationsVisibility()">
            <mat-icon>{{ shouldShowReservations ?  'remove' : 'add' }}</mat-icon>
          </button>
          <button class="oneButton" color="primary" mat-raised-button [routerLink]="['/allReservations']">
            Company Calendar
          </button>
          <button class="oneButton" (click)="toggleCompanyCustomersVisibility()">
            Our customers
          </button>
          <button class="oneButton" (click)="toggleCompanyAdminsVisibility()">
            Company Admins
          </button>
          <button class="oneButton" (click)="seeContracts(company)">
            See contracts
          </button>
        </div>
      </div>
      <div class="companyAdminsDiv" *ngIf="shouldRenderAdmins">
        <div  *ngIf="company.adminsSet && company.adminsSet.length > 0; else noAdmins">
          <h3 class="section-title"><strong>Company Admins:</strong></h3>
          <ol class="admin-list">
            <li *ngFor="let admin of company.adminsSet" class="admin-item">
              <strong>First Name: </strong>{{ admin.firstName }}<br />
              <strong>Last Name: </strong>{{ admin.lastName }}<br />
            </li>
          </ol>
        </div>
      
        <ng-template #noAdmins>
          <p class="no-admins-message">No administrators found for this company.</p>
        </ng-template>
      </div>

    <xp-company-customers *ngIf="shouldCustomersRender"></xp-company-customers>
      <div class="equipmentDiv">
      <div class="equipment-container" *ngIf="shouldShowEquipmentComponent">
        <h3 class="equipment-header"><strong>Equipment</strong></h3>
        
        <input type="text" class="search-input" placeholder="Search equipment..." [(ngModel)]="equipmentSearchValue" (ngModelChange)="onEquipmentSearchChange()">
        <button mat-icon-button class="buttonAdd" color="primary" (click)="showEquipmentSelect()" >
          Add equipment
        </button>
        <div *ngIf="
            company.equipmentSet && company.equipmentSet.length > 0;
            else noEquipment
          ">
          <ul>
            <li *ngFor="let equipment of filteredEquipment || company.equipmentSet" class="equipment-card">
              <strong>Name: </strong>{{ equipment.name }}<br />
              <strong>Description: </strong> {{ equipment.description }}<br />
              <strong>Type: </strong> {{ equipment.typeOfEquipment }}<br />
              <strong>Grade: </strong> {{ equipment.grade }}<br />
              <strong>Price: </strong> {{ equipment.price }}<br />
              <button mat-icon-button color="warn" (click)="deleteEquipment(equipment)" [disabled]="isEquipmentReserved(equipment)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="openUpdateEquipmentForm(equipment)">
                <mat-icon>edit</mat-icon>
              </button>
            </li>
          </ul>

          
        </div>

        
        <ng-template #noEquipment>
          <h3><strong>Equipment:</strong></h3>
          <br />
          Coming soon!
        </ng-template>
        <div *ngIf="shouldAddEquipment">
          <h3><strong>Add Equipment:</strong></h3>
          
          <!-- Add the listbox for equipment selection -->
          <select [(ngModel)]="selectedEquipmentId" class="equipment-listbox">
            <option *ngFor="let equipment of availableEquipment" [value]="equipment.id">
              {{ equipment.name }}
            </option>
          </select>
          
          <!-- Add the "Add" button to call the equipmentService method -->
          <button mat-raised-button color="primary" *ngIf="shouldAddEquipment" (click)="addEquipment()">Add</button>
        </div>
      
        <xp-equipment-form *ngIf="shouldRenderEquipmentForm" (updateEquipmentClicked)="updateEquipmentClicked()" [equipment]="equipmentForUpdate" [company]="company" ></xp-equipment-form>
      </div>

    </div>
      <div class="h2Class" *ngIf="shouldShowReservations">
        <h2>   ALL RESERVATIONS</h2>
        <div class="past-reservation-container">

          <div class="uploadQR">
            <label>Upload QR code here and pick up reservation! ⇩</label>
            <input  type="file" (change)="handleFileSelect($event)" accept="image/*">
          </div>

          <div class="pastReservations-container" *ngFor="let res of allReservations">
            <div class="reservation-item"  [ngStyle]="{'background-color': res.isPast ? '#E35193' : '#68A06B'}">
              <p><strong>📆 Date:</strong> {{ formatDateAndTime(res.dateTime).date }}</p>
              <p><strong>⏰ Time: </strong>{{ formatDateAndTime(res.dateTime).time }}</p>
              <p><strong>Num of hours:</strong> {{ res.duration }}</p>
              <p><strong>Grade:</strong> {{ res.grade }}</p>
              
              <!-- Display "Cancel Reservation" button only for past reservations -->
              <button *ngIf="res.id !== undefined  && res.status != 'PickedUp' && res.status != 'Cancelled'" (click)="processThePickup(res.id)">
                {{ res.isPast ?  'Penalize Customer' : 'Give Equipment' }}
              </button>
              <p *ngIf="res.status == 'Cancelled'">Expired reservation!</p>
            </div>
          </div>
          
        </div>
        
      </div>
      
      <div *ngIf="shouldShowDatesComponent">
        <button class="pickUpDateButton" (click)="openDatePicker()">Add Pickup Date</button>
        <mat-form-field *ngIf="showDatePicker && !shouldShowDateChoose">
          <input matInput [matDatepicker]="picker" (dateInput)="onDateSelected($event)" placeholder="Select a date" [(ngModel)]="selectedDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <h2 *ngIf="availableTimeSlots && !shouldShowDateChoose">AVAILABLE TIME SLOTS:</h2>
        <div class="date-cards-container" *ngIf="!shouldShowDateChoose">
          <div class="date-card" *ngFor="let timeSlot of availableTimeSlots">
            <div class="card-content">
              <input type="radio" name="selectedTimeSlot" [(ngModel)]="selectedTimeSlot" [value]="timeSlot" class="custom-radio" />
              <h3>📆 Date: {{ formatDateAndTime(timeSlot.startTime).date }}</h3>
              <h3>⏰ Time: {{ formatDateAndTime(timeSlot.startTime).time }}</h3>
            </div>
          </div>
          <button class="button3" (click)="createPickupTerm()" *ngIf="selectedTimeSlot && !shouldShowDateChoose">Choose</button>
        </div>
        <h2>Your scheduled deliveries</h2>
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>
<div>
</div>
