  .company-info {
    margin-right: 16px; /* Optional margin for spacing between components */
    height: 400px;
    align-self: center;
  }

  .company-info-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
  }

  .map-frame {
    border: 2px solid black;
    width: 600px;
    
  }

  .uploadQR{
    justify-content: start;
    width: 240px;
    height: 70px;
    margin-top: 20px;
    margin-right: 150px;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    color: rgb(12, 73, 153);
    border: 1px solid rgb(56, 91, 138);
  }
  
  
  .map-wrap {
    height: 400px;
    width: 600px;
  }
  
  .company-details {
    background-color:cornflowerblue;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    margin: auto;
  }

  .section-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  
  .admin-item {
    border: 1px solid #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    width: 200px;
  }
  
  .no-admins-message {
    color: #999;
  }

  .past-reservation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 20px;
    }
    
    .reservation-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    color: black;
    }

    .buttonsMenu{
      display: flex;
      flex-direction: column;
      justify-content: end;
      margin-left: 20px;
      margin-bottom: 200px;
      gap: 10px;
      
    }

    .oneButton{
      color: rgb(5, 29, 167);
    }
  

  .equipment-container {
    margin-top: 20px;
    max-width: 800px; /* Adjust the maximum width as needed */
    padding: 20px;
    border: 2px solid rgb(5, 29, 167);
    border-radius: 10px;
    background-color: transparent;
    margin-left: 850px;
  }

  .equipment-header {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .search-input{
    margin: auto;
  }

  .buttonAdd{
    margin-left: 700px;
    color: rgb(5, 29, 167);
  }

  .h2Class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .h2{
    margin-left: 30px;
    text-decoration: underline;
    text-underline-position: below;
  }
  
  .companyAdminsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .admin-list{
    padding: 20px;
    border: 1px solid rgb(5, 29, 167);
    margin-top:5px;
  }

  .pickUpDateButton{
    background-color: rgb(5, 29, 167);
    color: white;
    margin-right: 20px;
    width: 240px;
    height: 30px;
    cursor: pointer;
    border-color: transparent;
  }

  .equipment-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 180px;
  }

  .equipment-card:hover {
    background-color: #dfdede;
  }
  
  
  .equipment-card:hover {
    background-color: #d8d1d1;
  }
  
  .selected {
    background-color: #aaf;
  }
  
  .equipment-header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .equipment-header h3 {
    font-size: 1.5em;
    margin: 0;
  }
  
  .equipment-details {
    font-size: 0.9em;
  }
  
  .grade-and-price {
    font-size: 0.8em;
    color: #777; /* Adjust color as needed */
  }

 .button{
    background-color: crimson;
    color: white;
    border-color: transparent;
    font-size: large;
    border-radius: 10px;
    height: 50px;
    width: 120px;
 }

 .button:hover{
    background-color: rgb(143, 19, 44);
 }

 .button2{
  background-color: crimson;
  color: white;
  border-color: transparent;
  font-size: large;
  border-radius: 10px;
  height: 50px;
  width: 120px;
}

.button2:hover{
  background-color: rgb(143, 19, 44);
}

.button3{
  background-color: rgb(5, 29, 167);
  color: white;
  border-color: transparent;
  font-size: large;
  border-radius: 10px;
  height: 50px;
  width: 120px;
  cursor: pointer;
  height: 40px;
}

.button3:hover{
  background-color: rgb(109, 107, 107);
}

.custom-radio {
  transform: scale(1.5); 
  margin-right: 5px;
}

.custom-radio:checked + .card-content {
  background-color: lightblue; 
}

 .search-container {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 40px;
 }
 .date-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

 .date-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  width: 300px;
}

.date-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 10px;
}

.custom-checkbox {
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  margin-right: 10px; /* Add some space between the checkbox and text */
  border: 2px solid #3498db; /* Border color */
  border-radius: 4px;
  cursor: pointer;
}

.custom-checkbox:checked {
  background-color: #3498db; /* Background color when checked */
}

/* Add these styles to your component's CSS file */
/* Add these styles to your component's CSS file */
h1 {
  font-size: 28px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Center the text horizontally */
}

.form-container1 {
  background-image: url('/assets/back2.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 250vh; /* 100% of the viewport height */
  color: rgb(5, 29, 167);
}



  