<form [formGroup]="registrationAdminForm" (ngSubmit)="register()">
    <div>
      <div class="row-container">
        <div class="one-item-container">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="firstName" type="text" />
            <mat-error
              *ngIf="registrationAdminForm.get('firstName')?.hasError('required')"
            >
              Name is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="one-item-container">
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" type="text" />
            <mat-error
              *ngIf="registrationAdminForm.get('lastName')?.hasError('required')"
            >
              Last name is required!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-form-field class="one-item-container">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="text" />
          <mat-error *ngIf="registrationAdminForm.get('email')?.hasError('required')">
            Email is required!
          </mat-error>
          <mat-error *ngIf="registrationAdminForm.get('email')?.hasError('email')">
            Invalid email format!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row-container">
        <div class="one-item-container">
          <mat-form-field>
            <mat-label>Password(At least 8 characters)</mat-label>
            <input matInput formControlName="password" type="password" />
            <mat-error
              *ngIf="registrationAdminForm.get('password')?.hasError('required')"
            >
              Password is required!
            </mat-error>
            <mat-error
              *ngIf="registrationAdminForm.get('password')?.hasError('minlength')"
            >
              Password must be min 8 characters!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="one-item-container">
          <mat-form-field>
            <mat-label>Confirm password:</mat-label>
            <input matInput formControlName="confirmPassword" type="password" />
            <mat-error
              *ngIf="
              registrationAdminForm
                  .get('confirmPassword')
                  ?.hasError('PasswordNoMatch')
              "
              >Passwords dont match!</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row-container">
        <div class="one-item-container">
          <mat-form-field>
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" type="text" />
            <mat-error
              *ngIf="registrationAdminForm.get('country')?.hasError('required')"
            >
              Country is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="one-item-container">
          <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput formControlName="city" type="text" />
            <mat-error *ngIf="registrationAdminForm.get('city')?.hasError('required')">
              City is required!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-form-field class="one-item-container">
          <mat-label>Number</mat-label>
          <input matInput formControlName="number" type="text" />
          <mat-error *ngIf="registrationAdminForm.get('number')?.hasError('required')">
            Number is required!
          </mat-error>
        </mat-form-field>
      </div>
      
         
      <button color="primary" type="submit" mat-raised-button>Create system admin</button>
    </div>
  </form>
  