.button2{
    margin: auto;
    background-color: greenyellow;
    color: white;
    border-color: transparent;
    font-size: large;
    border-radius: 10px;
    height: 30px;
    width: 70px;
  }
  
  .button2:hover{
    background-color: rgb(120, 177, 35);
  }