<form [formGroup]="registrationAdminForm" (ngSubmit)="updateProfile()">
    <div>
      <div class="row-container">
        <div class="one-item-container">
          <mat-form-field>
            <mat-label>Password(At least 8 characters)</mat-label>
            <input matInput formControlName="password" type="password" />
            <mat-error
              *ngIf="registrationAdminForm.get('password')?.hasError('required')"
            >
              Password is required!
            </mat-error>
            <mat-error
              *ngIf="registrationAdminForm.get('password')?.hasError('minlength')"
            >
              Password must be min 8 characters!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="one-item-container">
          <mat-form-field>
            <mat-label>Confirm password:</mat-label>
            <input matInput formControlName="confirmPassword" type="password" />
            <mat-error
              *ngIf="
              registrationAdminForm
                  .get('confirmPassword')
                  ?.hasError('PasswordNoMatch')
              "
              >Passwords dont match!</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      
         
      <button color="primary" type="submit" mat-raised-button>Change password for system admin</button>
    </div>
  </form>
  