<div *ngIf="customer">
  <div class="customer-card">
    <img src="../../../../assets/user.png" height="100px" alt="user info" />
    
    <div *ngIf="customer" class="customer-info">
      <div class="info-item">
        <strong>First Name:</strong> <span>{{ customer.firstName }}</span>
      </div>
      <div class="info-item">
        <strong>Last Name:</strong> <span>{{ customer.lastName }}</span>
      </div>
      <div class="info-item">
        <strong>Email:</strong> <span>{{ customer.email }}</span>
      </div>
      <div class="info-item">
        <strong>Country:</strong> <span>{{ customer.country }}</span>
      </div>
      <div class="info-item">
        <strong>City:</strong> <span>{{ customer.city }}</span>
      </div>
      <div class="info-item">
        <strong>Number:</strong> <span>{{ customer.number }}</span>
      </div>
      <div class="info-item">
        <strong>Occupation:</strong> <span>{{ customer.occupation }}</span>
      </div>
      <div class="info-item">
        <strong>Company Info:</strong> <span>{{ customer.companyInfo }}</span>
      </div>
      <div class="info-item2">
        <strong>Penalty points:</strong>
        <span>{{ customer.penaltyPoints }}</span>
      </div>
    </div>
    <mat-icon class="edit" (click)="editProfile()">edit</mat-icon>

    
  </div>

  <h2 style="text-align: center;">All reservations</h2>
  <select class="sortReservationSelect" [(ngModel)]="sortReservationCriterium" (change)="onSortReservationChange()">
    <option *ngIf="!sortReservationCriterium" value="" disabled selected>Select sort parameter</option>
    <option value="sortDateN">Reservation date (from newest)</option>
    <option value="sortDateO">Reservation date (from oldest)</option>
    <option value="sortPriceH">Price (from highest)</option>
    <option value="sortPriceL">Price (from lowest)</option>
    <option value="sortDurationL">Duration (from longest)</option>
    <option value="sortDurationS">Duration (from shortest)</option>
  </select>

  <select class="sortReservationSelect" [(ngModel)]="reservationTypeSelected" (change)="onTypeReservationChange()">
    <option *ngIf="!reservationTypeSelected" value="" disabled selected>Select past/incoming reservations</option>
    <option value="past">Just past reservations</option>
    <option value="incoming">Just incoming reservations</option>
    <option value="both">Both</option>
  </select>


  <div class="past-reservation-container" *ngIf="isCustomer">
    <div class="pastReservations-container" *ngFor="let res of allReservations">
      <div class="reservation-item"  [ngStyle]="{'background-color': res.isPast ? '#f7564a' : '#8de675'}">
        <p><strong>📆 Date:</strong> {{ formatDateAndTime(res.dateTime).date }}</p>
        <p><strong>⏰ Time: </strong>{{ formatDateAndTime(res.dateTime).time }}</p>
        <p><strong>Duration:</strong> {{ res.duration }}</p>
        <p><strong>Grade:</strong> {{ res.grade }}</p>
        <p *ngIf="res.status === 'PickedUp'">
          <strong>Reservation picked up!</strong>
        </p>

        <p *ngIf="res.status === 'Cancelled'">
          <strong>Reservation cancelled!</strong>
        </p>
        
        
        <!-- Display "Cancel Reservation" button only for past reservations -->
        <button *ngIf="!res.isPast && res.isCancelEnabled" (click)="cancelReservation(res)">Cancel Reservation</button>
        <button *ngIf="!res.isPending" (click)="seeQR(res)">▌│█║▌║▌║See QR</button>
      </div>
    </div>

    
  </div>
  
</div>
