.company-info {
    text-align: center;
    margin-bottom: 100px;
  }
  
  .company-details {
    background-color:transparent;
    padding: 20px;
    border-radius: 10px;
    border-color: rgb(5, 29, 167);
    border: 1px solid rgb(5, 29, 167);
    width: 250px;
    margin: auto;
  }
  
  .equipment-list {
    margin-top: 20px;
  }
  
  .equipment-cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
  }
  
  .equipment-card {
    border: 1px solid rgb(5, 29, 167);
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }

  .equipment-card:hover {
    background-color: #dfdede;
  }
  
  
  .equipment-card:hover {
    background-color: #d8d1d1;
  }
  
  .selected {
    background-color: rgb(88, 180, 225);
  }
  
  .equipment-header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .equipment-header h3 {
    font-size: 1.5em;
    margin: 0;
  }
  
  .equipment-details {
    font-size: 0.9em;
  }
  
  .grade-and-price {
    margin-top: 5px;
    font-size: 0.8em;
    color: #777; /* Adjust color as needed */
  }

 .button{
    background-color: #e43081;
    color: white;
    border-color: transparent;
    font-size: large;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    cursor: pointer;
 }

 .button:hover{
    background-color: rgb(130, 12, 85);
 }

 .button2{
  background-color: rgb(228, 48, 129);
  color: white;
  border-color: transparent;
  font-size: large;
  border-radius: 10px;
  height: 50px;
  width: 120px;
  cursor: pointer;
}

.button2:hover{
  background-color: rgb(130, 12, 85);
}

.button3{
  background-color: rgb(228, 48, 129);
  color: white;
  border-color: transparent;
  font-size: large;
  border-radius: 10px;
  height: 50px;
  width: 120px;
}

.button3:hover{
  background-color: rgb(130, 12, 85);
}

.custom-radio {
  transform: scale(1.5); 
  margin-right: 5px;
}

.custom-radio:checked + .card-content {
  background-color: lightblue; 
}

 .search-container {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 40px;
 }
 .date-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

 .date-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  width: 300px;
}

.date-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 10px;
}

.custom-checkbox {
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  margin-right: 10px; /* Add some space between the checkbox and text */
  border: 2px solid #3498db; /* Border color */
  border-radius: 4px;
  cursor: pointer;
}

.custom-checkbox:checked {
  background-color: #3498db; /* Background color when checked */
}

.form-container {
  background-image: url('/assets/back2.png'); /* Zamijenite ovu vrednost sa putanjom do vaše slike */
  background-size: cover; /* Podešavanje da slika pokriva čitavu površinu kontejnera */
  width: auto;
  height: 770px; /* Postavite visinu na 100% visine prozora */
  color: rgb(5, 29, 167); /* Postavite boju teksta kako biste bili vidljivi na slici */
  font-family: Arial, sans-serif; /* Postavite font teksta po potrebi */
}
  
.h2{
  font-weight: bold;
}

.buttonReserve{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
  